@import '@fontsource-variable/outfit' layer(base);
@import '@fontsource/pacifico' layer(base);
@import '@fontsource-variable/pixelify-sans' layer(base);

@import 'tailwindcss';

@config '../tailwind.config.ts';

@theme {
  --color-primary: #76c1ff;
  --color-secondary: #133d9e;
  --color-accent: #00f9e9;
  --color-fg: #eaf0f5;
  --color-dark-gray: hsl(0, 0%, 16%);
  --color-dark: #171717;
  --color-darker: #141414;
  --color-darkest: #0c0c0c;
}

@theme inline {
  --font-outfit: 'Outfit Variable', sans-serif;
  --font-pacifico: 'Pacifico', cursive;
  --font-pixelify-sans: 'Pixelify Sans Variable', system-ui;
}

@utility bg-earth-from-space {
  background-image: url('/earth-from-space.webp');
}

/*
  The default border color has changed to `currentcolor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentcolor);
  }
}

@layer components {
  .btn-rounded {
    @apply border-fg flex cursor-pointer items-center gap-0.5 rounded-full border py-1 pl-2 pr-1 text-xs md:text-sm;
  }
  .bento-box {
    @apply bg-darker border-fg/60 hover:border-fg z-10 h-fit w-full rounded-2xl border p-4 transition-all ease-in;
  }
}

html {
  scroll-behavior: smooth;
}

.text-ring {
  --character-width: 1.25; /* In "ch" units */
}

.text-ring [style*='--index'] {
  --inner-angle: calc((360 / var(--total)) * 1deg);
  --radius: calc((var(--character-width, 1) / sin(var(--inner-angle))) * -1ch);
  font-weight: 500;
  font-family: monospace;
  text-transform: uppercase;
  font-size: 2rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%)
    rotate(calc(var(--inner-angle) * var(--index)))
    translateY(var(--radius, -5ch));
}
