@import '@fontsource/pacifico' layer(base);
@import '@fontsource-variable/pixelify-sans' layer(base);
@import '@fontsource-variable/jetbrains-mono' layer(base);
@import '@fontsource-variable/caveat' layer(base);

@import 'tailwindcss';

@config '../tailwind.config.ts';

@theme {
  --color-primary: #76c1ff;
  --color-secondary: #133d9e;
  --color-accent: #00f9e9;
  --color-fg: #eaf0f5;
  --color-dark-gray: hsl(0, 0%, 16%);
  --color-dark: #171717;
  --color-darker: #141414;
  --color-darkest: #0c0c0c;
}

@theme inline {
  --font-pacifico: 'Pacifico', cursive;
  --font-pixelify-sans: 'Pixelify Sans Variable', system-ui;
  --font-jetbrains-mono: 'JetBrains Mono Variable', monospace;
  --font-caveat: 'Caveat Variable', cursive;
}

@utility bg-earth-from-space {
  background-image: url('/earth-from-space.webp');
}

/*
  The default border color has changed to `currentcolor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentcolor);
  }
}

@layer components {
  .btn-rounded {
    @apply border-fg flex cursor-pointer items-center gap-0.5 rounded-full border py-1 pl-2 pr-1 text-xs md:text-sm;
  }
  .bento-box {
    @apply bg-darker border-fg/60 hover:border-fg z-10 h-fit w-full rounded-2xl border p-4 transition-all ease-in;
  }
}

html {
  scroll-behavior: smooth;
}

/* JOURNEY */
.star-anchor1 {
  anchor-name: --star-anchor1;
}
.star-anchor2 {
  anchor-name: --star-anchor2;
}
.star-anchor3 {
  anchor-name: --star-anchor3;
}
.star-anchor4 {
  anchor-name: --star-anchor4;
}

.journey1 {
  position: fixed;
  position-anchor: --star-anchor1;
  top: calc(anchor(--star-anchor1 top) + -200px);
  left: calc(anchor(--star-anchor1 right) + 24px);
}
.year-journey1 {
  position: fixed;
  position-anchor: --star-anchor1;
  bottom: anchor(--star-anchor1 top);
  right: anchor(--star-anchor1 left);
}

.journey2 {
  position: fixed;
  position-anchor: --star-anchor2;
  top: anchor(--star-anchor2 top);
  right: anchor(left);
}
.journey3 {
  position: fixed;
  position-anchor: --star-anchor3;
  top: anchor(--star-anchor3 top);
  left: anchor(right);
}
.journey4 {
  position: fixed;
  position-anchor: --star-anchor4;
  top: anchor(--star-anchor4 top);
  left: anchor(right);
}
