@import '@fontsource/pacifico' layer(base);
@import '@fontsource-variable/pixelify-sans' layer(base);
@import '@fontsource-variable/jetbrains-mono' layer(base);
@import '@fontsource-variable/caveat' layer(base);

@import 'tailwindcss';

@config '../tailwind.config.ts';

@theme {
  --color-primary: #76c1ff;
  --color-secondary: #133d9e;
  --color-accent: #00f9e9;
  --color-fg: #eaf0f5;
  --color-dark-gray: hsl(0, 0%, 16%);
  --color-dark: #171717;
  --color-darker: #141414;
  --color-darkest: #0c0c0c;
}

@theme inline {
  --font-pacifico: 'Pacifico', cursive;
  --font-pixelify-sans: 'Pixelify Sans Variable', system-ui;
  --font-jetbrains-mono: 'JetBrains Mono Variable', monospace;
  --font-caveat: 'Caveat Variable', cursive;
}

@utility bg-earth-from-space {
  background-image: url('/earth-from-space.webp');
}

/*
  The default border color has changed to `currentcolor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentcolor);
  }
}

@layer components {
  .btn-rounded {
    @apply border-fg flex cursor-pointer items-center gap-0.5 rounded-full border py-1 pl-2 pr-1 text-xs md:text-sm;
  }

  .bento-box {
    @apply bg-darker border-fg/60 hover:border-fg z-10 h-fit w-full rounded-2xl border p-4 transition-all ease-in;
  }

  .chip {
    @apply border-fg/80 text-fg bg-dark h-fit w-fit rounded-lg border px-1.5 py-1 text-[10px] md:px-2 md:text-sm;
  }

  .company {
    @apply text-fg text-xs font-medium md:text-base;
  }

  .job-title {
    @apply bg-linear-to-r from-primary to-accent bg-clip-text text-base font-bold text-transparent md:text-xl;
  }

  .job-duration {
    @apply text-fg/80 text-[10px] md:text-sm;
  }

  .job-desc {
    @apply text-fg max-w-44 space-y-2 text-xs md:max-w-md md:text-base;
  }
}

html {
  scroll-behavior: smooth;
}

/* JOURNEY */
.star-anchor1 {
  anchor-name: --star-anchor1;
}
.star-anchor2 {
  anchor-name: --star-anchor2;
}
.star-anchor3 {
  anchor-name: --star-anchor3;
}
.star-anchor4 {
  anchor-name: --star-anchor4;
}

.year-journey1,
.content1-journey1,
.content2-journey1,
.content3-journey1 {
  position: fixed;
  position-anchor: --star-anchor1;
}

.year-journey1 {
  bottom: anchor(--star-anchor1 top);
  right: calc(anchor(--star-anchor1 left) - 2.2rem);

  @media (max-width: 768px) {
    bottom: calc(anchor(top) - 1rem);
    right: calc(anchor(left) - 2rem);
  }
}

.content1-journey1 {
  bottom: calc(anchor(top) + 4rem);
  left: anchor(right);

  @media (max-width: 768px) {
    bottom: calc(anchor(top) + 2rem);
    left: calc(anchor(left) + 0.5rem);
  }
}

.content2-journey1 {
  bottom: calc(anchor(center) - 5.5rem);
  left: calc(anchor(right) + 2rem);

  @media (max-width: 768px) {
    top: calc(anchor(center) - 2.5rem);
    left: calc(anchor(right) + 0.75rem);
  }
}

.content3-journey1 {
  top: calc(anchor(bottom) + 4.5rem);
  left: calc(anchor(right) - 1rem);

  @media (max-width: 768px) {
    top: calc(anchor(bottom) + 2rem);
    left: calc(anchor(right) - 1rem);
  }
}

.year-journey2,
.content1-journey2,
.content2-journey2,
.content3-journey2 {
  position: fixed;
  position-anchor: --star-anchor2;
}

.year-journey2 {
  bottom: anchor(top);
  left: anchor(right);

  @media (max-width: 768px) {
    top: calc(anchor(bottom) - 1rem);
    left: calc(anchor(right) - 1.5rem);
  }
}

.content1-journey2 {
  bottom: calc(anchor(top) + 3rem);
  right: anchor(left);

  @media (max-width: 768px) {
    bottom: anchor(top);
    right: calc(anchor(left) - 2rem);
  }
}

.content2-journey2 {
  bottom: calc(anchor(center) - 5.5rem);
  right: calc(anchor(left) + 2rem);

  @media (max-width: 768px) {
    top: calc(anchor(center) - 1rem);
    right: calc(anchor(left) + 0.5rem);
  }
}

.content3-journey2 {
  top: calc(anchor(bottom) + 5rem);
  right: calc(anchor(left) - 2rem);

  @media (max-width: 768px) {
    top: calc(anchor(bottom) + 3.5rem);
    right: calc(anchor(left) - 2rem);
  }
}

.year-journey3,
.content1-journey3,
.content2-journey3,
.content3-journey3 {
  position: fixed;
  position-anchor: --star-anchor3;
}

.year-journey3 {
  top: anchor(center);
  left: anchor(right);
}

.content1-journey3 {
  bottom: anchor(top);
  left: calc(anchor(right) + 1rem);

  @media (max-width: 768px) {
    bottom: anchor(top);
    left: calc(anchor(left) + 1rem);
  }
}

.content2-journey3 {
  top: calc(anchor(center) - 1rem);
  right: calc(anchor(left) - 11rem);
}

.content3-journey3 {
  bottom: calc(anchor(top) + 1.5rem);
  right: calc(anchor(left) - 2rem);
}

.year-journey4,
.content1-journey4,
.content2-journey4,
.content3-journey4 {
  position: fixed;
  position-anchor: --star-anchor4;
}

.year-journey4 {
  bottom: anchor(top);
  right: calc(anchor(left) - 1rem);
}

.content1-journey4 {
  bottom: calc(anchor(top) + 4rem);
  left: anchor(right);
}

.content2-journey4 {
  bottom: calc(anchor(center) - 5.5rem);
  left: calc(anchor(right) + 2rem);
}

.content3-journey4 {
  top: calc(anchor(bottom) + 4.5rem);
  left: calc(anchor(right) - 5rem);
}
